<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<link rel="stylesheet" type="text/css" href="css/payment.css" />
<meta http-equiv="Access-Control-Allow-Credentials" content="true" />
<meta http-equiv="Access-Control-Allow-Origin" content="*" />
<meta http-equiv="Access-Control-Allow-Methods" content="GET" />
<meta http-equiv="Access-Control-Allow-Headers" content="application/json" />
<meta http-equiv="Content-Type" content="application/json;" />


<script th:inline="javascript" th:attr="src='https://www.paypal.com/sdk/js?client-id=AT9lai_PQk1VRnpFqYvarqZUF4L7spREMAwZ00Zbl02KU_X6ekZNpd8GSFm9Z2l22XwQyg-zkC2OvZGI&amp;currency=RUB'">
</script>

<script th:inline="javascript">
    /*<![CDATA[*/
function validate_form()
{
	valid = true;
        if ( document.coins_form.coins.value == "" )
        {
                alert ( "Пожалуйста, введите сумму для добавления в кошелек" );
		return false;
        }

        if ( !isNumeric(document.coins_form.coins.value) )
        {
                alert ( "Пожалуйста, введите число" );
                return false;
        }
        return valid;
}

function isNumeric(n) {
  return !isNaN(parseFloat(n)) && isFinite(n);
}
    /*]]>*/
</script>

 <head>
     <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Платеж</title>
 </head>
 <body>


 <nav class="top-menu">
     <ul class="menu-main">
         <b th:text="${username}"></b>
         <li><a href="https://speakstars.ru/phonebook">Телефонная книга</a></li>
         <li><a href="https://speakstars.ru/historycall">История звонков</a></li>
         <li><a href="https://speakstars.ru/payment">Кошелек</a></li>
         <li><a href="https://speakstars.ru/call">Звонок</a></li>
         <li><a href="https://speakstars.ru/logout">Выйти</a></li>
     </ul>
 </nav>

<div class="center">
<h2 th:text="'Текущий баланс:'+${cash}+' рублей'"></h2>
    <h2 th:text="${message}"></h2>
</div>

<div class="center">
    <input type="text" name="coins" id="coins" value=""/><br/>
</div>

 <div class="center">
 <div id="paypal-button-container"></div>
 </div>

 <script>
     // Render the PayPal button into #paypal-button-container
     paypal.Buttons({
         locale: 'ru_RU',
         style: {
             layout:  'vertical',
             color:   'silver',
             shape:   'pill',
             label:   'paypal'
         },


         // Set up the transaction
         createOrder: function(data, actions) {
             return actions.order.create({
                 purchase_units: [{
                     amount: {
                         value: document.getElementById("coins").value
                     }
                 }]
             });
         },

         // Finalize the transaction
         onApprove: function(data, actions) {
             return actions.order.capture().then(function(details) {
                 // Show a success message to the buyer
                 //alert('Transaction completed by ' + details.payer.name.given_name + '!');
                 window.location.replace("https://speakstars.ru/payment?orderid="+data.orderID);
             });
         }


     }).render('#paypal-button-container');
 </script>

 </body>
</html>

