<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="css/phonebook.css" />
<style type="text/css">
    #userlist { display: inline-block; font-size: 2em; border-radius: 1em; }
</style>
<head>
    <title>Телефонная книга</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<nav class="top-menu">
    <ul class="menu-main">
        <b th:text="${username}"></b>
        <li><a href="https://speakstars.ru/phonebook">Телефонная книга</a></li>
        <li><a href="https://speakstars.ru/historycall">История звонков</a></li>
        <li><a href="https://speakstars.ru/payment">Кошелек</a></li>
        <li><a href="https://speakstars.ru/call">Звонок</a></li>
        <li><a href="https://speakstars.ru/logout">Выйти</a></li>
    </ul>
</nav>

<div class="center">
    <h2>Телефонная книга</h2>
    <h2 th:text="${state}"></h2>
    <select id="userlist">
        <option th:each="listelem : ${alllist}" th:text="${listelem}"/>
    </select>
</div>
<div class="phonebook_cont">
<form method="get" action="https://speakstars.ru/phonebook">
    <p>
        <input type="text" name="username" placeholder="Введите имя пользователя"/>
        <input type="submit" name="status" value="Добавить"/>
        <input type="submit" name="status" value="Удалить"/>
    </p>
</form>
</div>
<div class="autoriz_cont">
    <table>
        <colgroup>
            <col span="1" style="background:Khaki"/><!-- С помощью этой конструкции задаем цвет фона для первых двух столбцов таблицы-->
            <col style="background-color:LightCyan"/><!-- Задаем цвет фона для следующего (одного) столбца таблицы-->
        </colgroup>
        <tr>
            <th>Абонент</th>
        </tr>
        <tr th:each="historyiter,iterStat : ${historystringiter}" th:class="${iterStat.odd}? 'odd'">
            <th th:text="${namestring[historyiter]}"></th>
        </tr>
    </table>
</div>
<div class="center">
    <div class="pagination">
        <a href="https://speakstars.ru/phonebook?page=0">&laquo;</a>
        <a th:attr="href='https://speakstars.ru/phonebook?page='+${page}" th:text="${page}"></a>
        <a th:attr="href='https://speakstars.ru/phonebook?page='+${page2}" th:text="${page2}" class="active"></a>
        <a th:attr="href='https://speakstars.ru/phonebook?page='+${page3}" th:text="${page3}"></a>
    </div>
</div>
</body>
</html>
