<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="css/historycall.css" />
<head>
    <title>История звонков</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<nav class="top-menu">
    <ul class="menu-main">
        <b th:text="${username}"></b>
        <li><a href="https://speakstars.ru/phonebook">Телефонная книга</a></li>
        <li><a href="https://speakstars.ru/historycall">История звонков</a></li>
        <li><a href="https://speakstars.ru/payment">Кошелек</a></li>
        <li><a href="https://speakstars.ru/call">Звонок</a></li>
        <li><a href="https://speakstars.ru/logout">Выйти</a></li>
    </ul>
</nav>

<div class="center">
    <p th:text="${name}" />
</div>
</body>
</html>
