*#
*.ml
*.ipr
*.iws
*.jar
*.sw?
*~
.#*
.*.md.html
.DS_Store
.classpath
.gradle
.idea
.metadata
.project
.recommenders
.settings
.springBeans
/*Db.*
/build
/code
MANIFEST.MF
build
build.log
manifest.yml
overridedb.*
settings.xml
target
